---
import Layout from "@src/components/Layout.astro";
import { Debug } from "astro:components";
import { getFeedByIdForUser } from "@src/feeds";
import { getContentItemsForFeed } from "@src/content-items";

const session = await Astro.locals.auth.validate();
const userId = session.user.userId;

const feedId = Astro.params.id;
const feed = await getFeedByIdForUser(userId, feedId);

if (!feed) {
  return new Response("Not found", { status: 404 });
}

const { contentItems, audioItems } = feed;
---

<Layout>
  <h1>Feed: {feed.name}</h1>
  <h2>Manage feed</h2>
  <button>Delete</button>
  <button>Rename</button>
  <details>
    <summary>Add to podcast app</summary>
    <div>
      <p>Copy the podcast URL:</p>
      <textarea id="copy-url" readonly>TODO: implement feed URLs</textarea>

      <p>
        <a href="https://transistor.fm/add-podcast/"
          >Follow these instructions to add the podcast to your preferred app</a
        >.
      </p>
    </div>
  </details>
  <h2>Content items</h2>
  <p>
    <a href={`/app/content-items/new?feed-id=${feedId}`}
      >Add a new content item to this feed</a
    >
  </p>
  <ul>
    {
      contentItems.map((contentItem) => (
        <li>
          <a href={`/app/content-items/${contentItem.id}/`}>
            {contentItem.title}
          </a>
        </li>
      ))
    }
  </ul>

  <h2>Audio items</h2>
  <ul>
    {
      audioItems.map((audioItem) => (
        <li>
          <a href={`/app/audio-items/${audioItem.id}/`}>{audioItem.title}</a>
        </li>
      ))
    }
  </ul>
  <Debug {contentItems} />
  <Debug {feed} />
</Layout>

<style>
  details {
    border: 2px solid black;
    padding: 1rem;
  }
</style>
