---
import Layout from "@src/components/Layout.astro";
import Dump from "@src/components/Dump.astro";
import { Debug } from "astro:components";
import { getWaitlistUsers, getWaitlistInvitations } from "@src/waitlist";

const session = await Astro.locals.auth.validate();
if (!session || !session.user.isAdmin) {
  return Astro.redirect("/app/");
}

const waitlistUsers = await getWaitlistUsers();
const waitlistInvitations = await getWaitlistInvitations();
---

<Layout>
  <h1>Admin waitlist</h1>
  <p>These users are on the waitlist.</p>

  <ul>
    {
      waitlistUsers.map((user) => (
        <li>
          <dl>
            <dt>Name</dt>
            <dd>{user.name}</dd>
            <dt>Email</dt>
            <dd>{user.email}</dd>
            <dt>Why interested</dt>
            <dd>{user.whyInterested}</dd>
            <dt>Created at</dt>
            <dd>{user.createdAt}</dd>
          </dl>
          <a href={`/admin/waitlist/${user.id}/invite/`}>Invite</a>
        </li>
      ))
    }
  </ul>
  <Debug {waitlistUsers} />

  <h2>Invitations</h2>
  <Debug {waitlistInvitations} />
</Layout>
